<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form  action="/teams" method="post">
      <h1>Create a Team and Heroes!</h1>
      Team Name: <input type="text" name="team[name]"><br>
      Team Motto: <input type="text" name="team[motto]" ><br><br>

      <h2>Hero 1</h2><br>
      Hero's Name: <input type="text" name="hero[name]"><br>
      Hero's Power: <input type="text" name="hero[power]"><br>
      Hero's Biography<input type="text" name="hero[biography]"><br>

      <input type="submit" name="submit">

    </form>

  </body>
</html>
